In [13]:
! pip install numpy
! pip install scikit-learn
! pip install matplotlib
! pip install pandas

Requirement already satisfied: numpy in d:\fnclick\python\hackademia-hackathon\env\lib\site-packages (2.1.1)

[notice] A new release of pip is available: 23.2.1 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: scikit-learn in d:\fnclick\python\hackademia-hackathon\env\lib\site-packages (1.5.2)
Requirement already satisfied: numpy>=1.19.5 in d:\fnclick\python\hackademia-hackathon\env\lib\site-packages (from scikit-learn) (2.1.1)
Requirement already satisfied: scipy>=1.6.0 in d:\fnclick\python\hackademia-hackathon\env\lib\site-packages (from scikit-learn) (1.14.1)
Requirement already satisfied: joblib>=1.2.0 in d:\fnclick\python\hackademia-hackathon\env\lib\site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in d:\fnclick\python\hackademia-hackathon\env\lib\site-packages (from scikit-learn) (3.5.0)

[notice] A new release of pip is available: 23.2.1 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: matplotlib in d:\fnclick\python\hackademia-hackathon\env\lib\site-packages (3.9.2)
Requirement already satisfied: contourpy>=1.0.1 in d:\fnclick\python\hackademia-hackathon\env\lib\site-packages (from matplotlib) (1.3.0)
Requirement already satisfied: cycler>=0.10 in d:\fnclick\python\hackademia-hackathon\env\lib\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in d:\fnclick\python\hackademia-hackathon\env\lib\site-packages (from matplotlib) (4.53.1)
Requirement already satisfied: kiwisolver>=1.3.1 in d:\fnclick\python\hackademia-hackathon\env\lib\site-packages (from matplotlib) (1.4.7)
Requirement already satisfied: numpy>=1.23 in d:\fnclick\python\hackademia-hackathon\env\lib\site-packages (from matplotlib) (2.1.1)
Requirement already satisfied: packaging>=20.0 in d:\fnclick\python\hackademia-hackathon\env\lib\site-packages (from matplotlib) (24.1)
Requirement already satisfied: pillow>=8 in d:\fnclick\python\hackademia-hackathon\env\lib\site-packages (from matplotlib) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in d:\fnclick\python\hackademia-hackathon\env\lib\site-packages (from matplotlib) (3.1.4)
Requirement already satisfied: python-dateutil>=2.7 in d:\fnclick\python\hackademia-hackathon\env\lib\site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in d:\fnclick\python\hackademia-hackathon\env\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)

[notice] A new release of pip is available: 23.2.1 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: pandas in d:\fnclick\python\hackademia-hackathon\env\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in d:\fnclick\python\hackademia-hackathon\env\lib\site-packages (from pandas) (2.1.1)
Requirement already satisfied: python-dateutil>=2.8.2 in d:\fnclick\python\hackademia-hackathon\env\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in d:\fnclick\python\hackademia-hackathon\env\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in d:\fnclick\python\hackademia-hackathon\env\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in d:\fnclick\python\hackademia-hackathon\env\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 23.2.1 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
from sklearn.cluster import KMeans

In [4]:
data = pd.read_csv('data/data.csv')
display(data)

,Name,Email,Coding,Leadership,Communication Skill,Presentation designing
0,Melanie,testuser1@example.com,13,91,77,98
1,Connor,testuser2@example.com,42,77,38,21
2,Karen,testuser3@example.com,79,97,68,88
3,Brian,testuser4@example.com,100,44,73,74
4,Amy,testuser5@example.com,30,68,100,15
5,Victor,testuser6@example.com,5,31,71,86
6,Sue,testuser7@example.com,84,83,16,14
7,Rebecca,testuser8@example.com,2,95,58,86
8,Adam,testuser9@example.com,93,4,9,34
9,Christopher,testuser10@example.com,29,34,4,4
10,Andrea,testuser11@example.com,75,14,47,44
11,Jennifer,testuser12@example.com,55,74,43,72
12,Yvonne,testuser13@example.com,70,89,3,63
13,Frank,testuser14@example.com,66,46,9,67
14,Paul,testuser15@example.com,78,89,79,79
15,Adam,testuser16@example.com,87,6,60,91
16,Lillian,testuser17@example.com,75,26,26,20
17,Tracey,testuser18@example.com,56,23,76,36
18,Phil,testuser19@example.com,60,25,82,45
19,Andrew,testuser20@example.com,54,58,89,9
20,Gavin,testuser21@example.com,7,65,36,17
21,Rose,testuser22@example.com,65,19,30,13
22,Leah,testuser23@example.com,46,94,86,99
23,Irene,testuser24@example.com,79,21,16,13
24,Lily,testuser25@example.com,28,32,81,31
25,Mary,testuser26@example.com,90,19,93,24
26,Sally,testuser27@example.com,64,51,54,33
27,Kevin,testuser28@example.com,62,90,58,33
28,Robert,testuser29@example.com,13,98,82,62
29,Lily,testuser30@example.com,32,79,13,8
30,Brian,testuser31@example.com,81,10,16,2
31,Keith,testuser32@example.com,35,75,53,13
32,Zoe,testuser33@example.com,64,48,38,44
33,Audrey,testuser34@example.com,65,60,67,33
34,Joe,testuser35@example.com,21,93,85,19
35,Vanessa,testuser36@example.com,71,9,60,16
36,Karen,testuser37@example.com,40,4,12,96
37,Chloe,testuser38@example.com,50,43,37,61
38,Charles,testuser39@example.com,16,36,45,24
39,Adrian,testuser40@example.com,53,84,18,5

In [5]:
kmeans = KMeans(n_clusters = 4, random_state = 42)

skillset = ['Coding','Leadership', 'Communication Skill', 'Presentation designing']

kmeans.fit(data[[x for x in skillset]])

data['cluster'] = kmeans.labels_

In [6]:
display(data)

,Name,Email,Coding,Leadership,Communication Skill,Presentation designing,cluster
0,Melanie,testuser1@example.com,13,91,77,98,0
1,Connor,testuser2@example.com,42,77,38,21,1
2,Karen,testuser3@example.com,79,97,68,88,0
3,Brian,testuser4@example.com,100,44,73,74,3
4,Amy,testuser5@example.com,30,68,100,15,1
5,Victor,testuser6@example.com,5,31,71,86,0
6,Sue,testuser7@example.com,84,83,16,14,2
7,Rebecca,testuser8@example.com,2,95,58,86,0
8,Adam,testuser9@example.com,93,4,9,34,2
9,Christopher,testuser10@example.com,29,34,4,4,2
10,Andrea,testuser11@example.com,75,14,47,44,3
11,Jennifer,testuser12@example.com,55,74,43,72,0
12,Yvonne,testuser13@example.com,70,89,3,63,2
13,Frank,testuser14@example.com,66,46,9,67,2
14,Paul,testuser15@example.com,78,89,79,79,0
15,Adam,testuser16@example.com,87,6,60,91,3
16,Lillian,testuser17@example.com,75,26,26,20,2
17,Tracey,testuser18@example.com,56,23,76,36,3
18,Phil,testuser19@example.com,60,25,82,45,3
19,Andrew,testuser20@example.com,54,58,89,9,1
20,Gavin,testuser21@example.com,7,65,36,17,1
21,Rose,testuser22@example.com,65,19,30,13,2
22,Leah,testuser23@example.com,46,94,86,99,0
23,Irene,testuser24@example.com,79,21,16,13,2
24,Lily,testuser25@example.com,28,32,81,31,1
25,Mary,testuser26@example.com,90,19,93,24,3
26,Sally,testuser27@example.com,64,51,54,33,1
27,Kevin,testuser28@example.com,62,90,58,33,1
28,Robert,testuser29@example.com,13,98,82,62,0
29,Lily,testuser30@example.com,32,79,13,8,2
30,Brian,testuser31@example.com,81,10,16,2,2
31,Keith,testuser32@example.com,35,75,53,13,1
32,Zoe,testuser33@example.com,64,48,38,44,2
33,Audrey,testuser34@example.com,65,60,67,33,1
34,Joe,testuser35@example.com,21,93,85,19,1
35,Vanessa,testuser36@example.com,71,9,60,16,3
36,Karen,testuser37@example.com,40,4,12,96,3
37,Chloe,testuser38@example.com,50,43,37,61,3
38,Charles,testuser39@example.com,16,36,45,24,1
39,Adrian,testuser40@example.com,53,84,18,5,2

In [8]:
# data_0 = data[data['cluster'] == 0]
# data_1 = data[data['cluster'] == 1]
# data_2 = data[data['cluster'] == 2]
# data_3 = data[data['cluster'] == 3]

dataframes = {}

In [9]:
for x in data['cluster'].unique().tolist():
    dataframes[f'data_{x}'] = data[data['cluster'] == x]

In [10]:
print(dataframes)

{'data_0':         Name                   Email  Coding  Leadership  Communication Skill  \
0    Melanie   testuser1@example.com      13          91                   77
2      Karen   testuser3@example.com      79          97                   68
5     Victor   testuser6@example.com       5          31                   71
7    Rebecca   testuser8@example.com       2          95                   58
11  Jennifer  testuser12@example.com      55          74                   43
14      Paul  testuser15@example.com      78          89                   79
22      Leah  testuser23@example.com      46          94                   86
28    Robert  testuser29@example.com      13          98                   82

    Presentation designing  cluster
0                       98        0
2                       88        0
5                       86        0
7                       86        0
11                      72        0
14                      79        0
22                      99        0
28                      62        0  , 'data_1':        Name                   Email  Coding  Leadership  Communication Skill  \
1    Connor   testuser2@example.com      42          77                   38
4       Amy   testuser5@example.com      30          68                  100
19   Andrew  testuser20@example.com      54          58                   89
20    Gavin  testuser21@example.com       7          65                   36
24     Lily  testuser25@example.com      28          32                   81
26    Sally  testuser27@example.com      64          51                   54
27    Kevin  testuser28@example.com      62          90                   58
31    Keith  testuser32@example.com      35          75                   53
33   Audrey  testuser34@example.com      65          60                   67
34      Joe  testuser35@example.com      21          93                   85
38  Charles  testuser39@example.com      16          36                   45

    Presentation designing  cluster
1                       21        1
4                       15        1
19                       9        1
20                      17        1
24                      31        1
26                      33        1
27                      33        1
31                      13        1
33                      33        1
34                      19        1
38                      24        1  , 'data_3':        Name                   Email  Coding  Leadership  Communication Skill  \
3     Brian   testuser4@example.com     100          44                   73
10   Andrea  testuser11@example.com      75          14                   47
15     Adam  testuser16@example.com      87           6                   60
17   Tracey  testuser18@example.com      56          23                   76
18     Phil  testuser19@example.com      60          25                   82
25     Mary  testuser26@example.com      90          19                   93
35  Vanessa  testuser36@example.com      71           9                   60
36    Karen  testuser37@example.com      40           4                   12
37    Chloe  testuser38@example.com      50          43                   37

    Presentation designing  cluster
3                       74        3
10                      44        3
15                      91        3
17                      36        3
18                      45        3
25                      24        3
35                      16        3
36                      96        3
37                      61        3  , 'data_2':            Name                   Email  Coding  Leadership  \
6           Sue   testuser7@example.com      84          83
8          Adam   testuser9@example.com      93           4
9   Christopher  testuser10@example.com      29          34
12       Yvonne  testuser13@example.com      70          89
13        Frank  testuser14@example.com      66          46
16      Lillian  testuser17@example.com      75          26
21         Rose  testuser22@example.com      65          19
23        Irene  testuser24@example.com      79          21
29         Lily  testuser30@example.com      32          79
30        Brian  testuser31@example.com      81          10
32          Zoe  testuser33@example.com      64          48
39       Adrian  testuser40@example.com      53          84

    Communication Skill  Presentation designing  cluster
6                    16                      14        2
8                     9                      34        2
9                     4                       4        2
12                    3                      63        2
13                    9                      67        2
16                   26                      20        2
21                   30                      13        2
23                   16                      13        2
29                   13                       8        2
30                   16                       2        2
32                   38                      44        2
39                   18                       5        2  }

In [11]:
display(dataframes['data_0'])

,Name,Email,Coding,Leadership,Communication Skill,Presentation designing,cluster
0,Melanie,testuser1@example.com,13,91,77,98,0
2,Karen,testuser3@example.com,79,97,68,88,0
5,Victor,testuser6@example.com,5,31,71,86,0
7,Rebecca,testuser8@example.com,2,95,58,86,0
11,Jennifer,testuser12@example.com,55,74,43,72,0
14,Paul,testuser15@example.com,78,89,79,79,0
22,Leah,testuser23@example.com,46,94,86,99,0
28,Robert,testuser29@example.com,13,98,82,62,0

In [86]:
display(data_1)

,Name,Email,Coding,Leadership,Communication Skill,Presentation designing,cluster
1,Connor,testuser2@example.com,42,77,38,21,1
4,Amy,testuser5@example.com,30,68,100,15,1
19,Andrew,testuser20@example.com,54,58,89,9,1
20,Gavin,testuser21@example.com,7,65,36,17,1
24,Lily,testuser25@example.com,28,32,81,31,1
26,Sally,testuser27@example.com,64,51,54,33,1
27,Kevin,testuser28@example.com,62,90,58,33,1
31,Keith,testuser32@example.com,35,75,53,13,1
33,Audrey,testuser34@example.com,65,60,67,33,1
34,Joe,testuser35@example.com,21,93,85,19,1
38,Charles,testuser39@example.com,16,36,45,24,1

In [87]:
display(data_2)

,Name,Email,Coding,Leadership,Communication Skill,Presentation designing,cluster
6,Sue,testuser7@example.com,84,83,16,14,2
8,Adam,testuser9@example.com,93,4,9,34,2
9,Christopher,testuser10@example.com,29,34,4,4,2
12,Yvonne,testuser13@example.com,70,89,3,63,2
13,Frank,testuser14@example.com,66,46,9,67,2
16,Lillian,testuser17@example.com,75,26,26,20,2
21,Rose,testuser22@example.com,65,19,30,13,2
23,Irene,testuser24@example.com,79,21,16,13,2
29,Lily,testuser30@example.com,32,79,13,8,2
30,Brian,testuser31@example.com,81,10,16,2,2
32,Zoe,testuser33@example.com,64,48,38,44,2
39,Adrian,testuser40@example.com,53,84,18,5,2

In [88]:
display(data_3)

,Name,Email,Coding,Leadership,Communication Skill,Presentation designing,cluster
3,Brian,testuser4@example.com,100,44,73,74,3
10,Andrea,testuser11@example.com,75,14,47,44,3
15,Adam,testuser16@example.com,87,6,60,91,3
17,Tracey,testuser18@example.com,56,23,76,36,3
18,Phil,testuser19@example.com,60,25,82,45,3
25,Mary,testuser26@example.com,90,19,93,24,3
35,Vanessa,testuser36@example.com,71,9,60,16,3
36,Karen,testuser37@example.com,40,4,12,96,3
37,Chloe,testuser38@example.com,50,43,37,61,3

In [13]:
import random

In [14]:
largest_dataset_name = max(dataframes, key=lambda k: len(dataframes[k]))
print(largest_dataset_name)

data_2

In [24]:
group = {}

for y in range(len(dataframes[largest_dataset_name])):
    singlegroup = []
    for x in dataframes.keys():
        item = random.randint(0, len(dataframes[x])-1)
        singlegroup.append(dataframes[x].iloc[item])
    group[y] = singlegroup

In [25]:
display(group)

{0: [Name                                    Jennifer
  Email                     testuser12@example.com
  Coding                                        55
  Leadership                                    74
  Communication Skill                           43
  Presentation designing                        72
  cluster                                        0
  Name: 11, dtype: object,
  Name                                       Kevin
  Email                     testuser28@example.com
  Coding                                        62
  Leadership                                    90
  Communication Skill                           58
  Presentation designing                        33
  cluster                                        1
  Name: 27, dtype: object,
  Name                                        Adam
  Email                     testuser16@example.com
  Coding                                        87
  Leadership                                     6
  Communication Skill                           60
  Presentation designing                        91
  cluster                                        3
  Name: 15, dtype: object,
  Name                                      Adrian
  Email                     testuser40@example.com
  Coding                                        53
  Leadership                                    84
  Communication Skill                           18
  Presentation designing                         5
  cluster                                        2
  Name: 39, dtype: object],
 1: [Name                                        Leah
  Email                     testuser23@example.com
  Coding                                        46
  Leadership                                    94
  Communication Skill                           86
  Presentation designing                        99
  cluster                                        0
  Name: 22, dtype: object,
  Name                                        Amy
  Email                     testuser5@example.com
  Coding                                       30
  Leadership                                   68
  Communication Skill                         100
  Presentation designing                       15
  cluster                                       1
  Name: 4, dtype: object,
  Name                                        Adam
  Email                     testuser16@example.com
  Coding                                        87
  Leadership                                     6
  Communication Skill                           60
  Presentation designing                        91
  cluster                                        3
  Name: 15, dtype: object,
  Name                                       Irene
  Email                     testuser24@example.com
  Coding                                        79
  Leadership                                    21
  Communication Skill                           16
  Presentation designing                        13
  cluster                                        2
  Name: 23, dtype: object],
 2: [Name                                      Robert
  Email                     testuser29@example.com
  Coding                                        13
  Leadership                                    98
  Communication Skill                           82
  Presentation designing                        62
  cluster                                        0
  Name: 28, dtype: object,
  Name                                       Kevin
  Email                     testuser28@example.com
  Coding                                        62
  Leadership                                    90
  Communication Skill                           58
  Presentation designing                        33
  cluster                                        1
  Name: 27, dtype: object,
  Name                                      Tracey
  Email                     testuser18@example.com
  Coding                                        56
  Leadership                                    23
  Communication Skill                           76
  Presentation designing                        36
  cluster                                        3
  Name: 17, dtype: object,
  Name                                 Christopher
  Email                     testuser10@example.com
  Coding                                        29
  Leadership                                    34
  Communication Skill                            4
  Presentation designing                         4
  cluster                                        2
  Name: 9, dtype: object],
 3: [Name                                    Melanie
  Email                     testuser1@example.com
  Coding                                       13
  Leadership                                   91
  Communication Skill                          77
  Presentation designing                       98
  cluster                                       0
  Name: 0, dtype: object,
  Name                                      Andrew
  Email                     testuser20@example.com
  Coding                                        54
  Leadership                                    58
  Communication Skill                           89
  Presentation designing                         9
  cluster                                        1
  Name: 19, dtype: object,
  Name                                      Andrea
  Email                     testuser11@example.com
  Coding                                        75
  Leadership                                    14
  Communication Skill                           47
  Presentation designing                        44
  cluster                                        3
  Name: 10, dtype: object,
  Name                                 Christopher
  Email                     testuser10@example.com
  Coding                                        29
  Leadership                                    34
  Communication Skill                            4
  Presentation designing                         4
  cluster                                        2
  Name: 9, dtype: object],
 4: [Name                                        Leah
  Email                     testuser23@example.com
  Coding                                        46
  Leadership                                    94
  Communication Skill                           86
  Presentation designing                        99
  cluster                                        0
  Name: 22, dtype: object,
  Name                                       Sally
  Email                     testuser27@example.com
  Coding                                        64
  Leadership                                    51
  Communication Skill                           54
  Presentation designing                        33
  cluster                                        1
  Name: 26, dtype: object,
  Name                                       Chloe
  Email                     testuser38@example.com
  Coding                                        50
  Leadership                                    43
  Communication Skill                           37
  Presentation designing                        61
  cluster                                        3
  Name: 37, dtype: object,
  Name                                       Adam
  Email                     testuser9@example.com
  Coding                                       93
  Leadership                                    4
  Communication Skill                           9
  Presentation designing                       34
  cluster                                       2
  Name: 8, dtype: object],
 5: [Name                                      Karen
  Email                     testuser3@example.com
  Coding                                       79
  Leadership                                   97
  Communication Skill                          68
  Presentation designing                       88
  cluster                                       0
  Name: 2, dtype: object,
  Name                                      Andrew
  Email                     testuser20@example.com
  Coding                                        54
  Leadership                                    58
  Communication Skill                           89
  Presentation designing                         9
  cluster                                        1
  Name: 19, dtype: object,
  Name                                        Mary
  Email                     testuser26@example.com
  Coding                                        90
  Leadership                                    19
  Communication Skill                           93
  Presentation designing                        24
  cluster                                        3
  Name: 25, dtype: object,
  Name                                      Yvonne
  Email                     testuser13@example.com
  Coding                                        70
  Leadership                                    89
  Communication Skill                            3
  Presentation designing                        63
  cluster                                        2
  Name: 12, dtype: object],
 6: [Name                                        Paul
  Email                     testuser15@example.com
  Coding                                        78
  Leadership                                    89
  Communication Skill                           79
  Presentation designing                        79
  cluster                                        0
  Name: 14, dtype: object,
  Name                                         Joe
  Email                     testuser35@example.com
  Coding                                        21
  Leadership                                    93
  Communication Skill                           85
  Presentation designing                        19
  cluster                                        1
  Name: 34, dtype: object,
  Name                                       Chloe
  Email                     testuser38@example.com
  Coding                                        50
  Leadership                                    43
  Communication Skill                           37
  Presentation designing                        61
  cluster                                        3
  Name: 37, dtype: object,
  Name                                       Brian
  Email                     testuser31@example.com
  Coding                                        81
  Leadership                                    10
  Communication Skill                           16
  Presentation designing                         2
  cluster                                        2
  Name: 30, dtype: object],
 7: [Name                                        Leah
  Email                     testuser23@example.com
  Coding                                        46
  Leadership                                    94
  Communication Skill                           86
  Presentation designing                        99
  cluster                                        0
  Name: 22, dtype: object,
  Name                                       Keith
  Email                     testuser32@example.com
  Coding                                        35
  Leadership                                    75
  Communication Skill                           53
  Presentation designing                        13
  cluster                                        1
  Name: 31, dtype: object,
  Name                                      Tracey
  Email                     testuser18@example.com
  Coding                                        56
  Leadership                                    23
  Communication Skill                           76
  Presentation designing                        36
  cluster                                        3
  Name: 17, dtype: object,
  Name                                        Rose
  Email                     testuser22@example.com
  Coding                                        65
  Leadership                                    19
  Communication Skill                           30
  Presentation designing                        13
  cluster                                        2
  Name: 21, dtype: object],
 8: [Name                                     Victor
  Email                     testuser6@example.com
  Coding                                        5
  Leadership                                   31
  Communication Skill                          71
  Presentation designing                       86
  cluster                                       0
  Name: 5, dtype: object,
  Name                                       Keith
  Email                     testuser32@example.com
  Coding                                        35
  Leadership                                    75
  Communication Skill                           53
  Presentation designing                        13
  cluster                                        1
  Name: 31, dtype: object,
  Name                                        Phil
  Email                     testuser19@example.com
  Coding                                        60
  Leadership                                    25
  Communication Skill                           82
  Presentation designing                        45
  cluster                                        3
  Name: 18, dtype: object,
  Name                                     Lillian
  Email                     testuser17@example.com
  Coding                                        75
  Leadership                                    26
  Communication Skill                           26
  Presentation designing                        20
  cluster                                        2
  Name: 16, dtype: object],
 9: [Name                                        Paul
  Email                     testuser15@example.com
  Coding                                        78
  Leadership                                    89
  Communication Skill                           79
  Presentation designing                        79
  cluster                                        0
  Name: 14, dtype: object,
  Name                                        Lily
  Email                     testuser25@example.com
  Coding                                        28
  Leadership                                    32
  Communication Skill                           81
  Presentation designing                        31
  cluster                                        1
  Name: 24, dtype: object,
  Name                                      Tracey
  Email                     testuser18@example.com
  Coding                                        56
  Leadership                                    23
  Communication Skill                           76
  Presentation designing                        36
  cluster                                        3
  Name: 17, dtype: object,
  Name                                      Adrian
  Email                     testuser40@example.com
  Coding                                        53
  Leadership                                    84
  Communication Skill                           18
  Presentation designing                         5
  cluster                                        2
  Name: 39, dtype: object],
 10: [Name                                        Paul
  Email                     testuser15@example.com
  Coding                                        78
  Leadership                                    89
  Communication Skill                           79
  Presentation designing                        79
  cluster                                        0
  Name: 14, dtype: object,
  Name                                      Audrey
  Email                     testuser34@example.com
  Coding                                        65
  Leadership                                    60
  Communication Skill                           67
  Presentation designing                        33
  cluster                                        1
  Name: 33, dtype: object,
  Name                                        Phil
  Email                     testuser19@example.com
  Coding                                        60
  Leadership                                    25
  Communication Skill                           82
  Presentation designing                        45
  cluster                                        3
  Name: 18, dtype: object,
  Name                                        Lily
  Email                     testuser30@example.com
  Coding                                        32
  Leadership                                    79
  Communication Skill                           13
  Presentation designing                         8
  cluster                                        2
  Name: 29, dtype: object],
 11: [Name                                      Robert
  Email                     testuser29@example.com
  Coding                                        13
  Leadership                                    98
  Communication Skill                           82
  Presentation designing                        62
  cluster                                        0
  Name: 28, dtype: object,
  Name                                       Kevin
  Email                     testuser28@example.com
  Coding                                        62
  Leadership                                    90
  Communication Skill                           58
  Presentation designing                        33
  cluster                                        1
  Name: 27, dtype: object,
  Name                                      Brian
  Email                     testuser4@example.com
  Coding                                      100
  Leadership                                   44
  Communication Skill                          73
  Presentation designing                       74
  cluster                                       3
  Name: 3, dtype: object,
  Name                                        Rose
  Email                     testuser22@example.com
  Coding                                        65
  Leadership                                    19
  Communication Skill                           30
  Presentation designing                        13
  cluster                                        2
  Name: 21, dtype: object]}

In [26]:
for x in group:
    print(group[x])

print(len(group))

[Name                                    Jennifer
Email                     testuser12@example.com
Coding                                        55
Leadership                                    74
Communication Skill                           43
Presentation designing                        72
cluster                                        0
Name: 11, dtype: object, Name                                       Kevin
Email                     testuser28@example.com
Coding                                        62
Leadership                                    90
Communication Skill                           58
Presentation designing                        33
cluster                                        1
Name: 27, dtype: object, Name                                        Adam
Email                     testuser16@example.com
Coding                                        87
Leadership                                     6
Communication Skill                           60
Presentation designing                        91
cluster                                        3
Name: 15, dtype: object, Name                                      Adrian
Email                     testuser40@example.com
Coding                                        53
Leadership                                    84
Communication Skill                           18
Presentation designing                         5
cluster                                        2
Name: 39, dtype: object]
[Name                                        Leah
Email                     testuser23@example.com
Coding                                        46
Leadership                                    94
Communication Skill                           86
Presentation designing                        99
cluster                                        0
Name: 22, dtype: object, Name                                        Amy
Email                     testuser5@example.com
Coding                                       30
Leadership                                   68
Communication Skill                         100
Presentation designing                       15
cluster                                       1
Name: 4, dtype: object, Name                                        Adam
Email                     testuser16@example.com
Coding                                        87
Leadership                                     6
Communication Skill                           60
Presentation designing                        91
cluster                                        3
Name: 15, dtype: object, Name                                       Irene
Email                     testuser24@example.com
Coding                                        79
Leadership                                    21
Communication Skill                           16
Presentation designing                        13
cluster                                        2
Name: 23, dtype: object]
[Name                                      Robert
Email                     testuser29@example.com
Coding                                        13
Leadership                                    98
Communication Skill                           82
Presentation designing                        62
cluster                                        0
Name: 28, dtype: object, Name                                       Kevin
Email                     testuser28@example.com
Coding                                        62
Leadership                                    90
Communication Skill                           58
Presentation designing                        33
cluster                                        1
Name: 27, dtype: object, Name                                      Tracey
Email                     testuser18@example.com
Coding                                        56
Leadership                                    23
Communication Skill                           76
Presentation designing                        36
cluster                                        3
Name: 17, dtype: object, Name                                 Christopher
Email                     testuser10@example.com
Coding                                        29
Leadership                                    34
Communication Skill                            4
Presentation designing                         4
cluster                                        2
Name: 9, dtype: object]
[Name                                    Melanie
Email                     testuser1@example.com
Coding                                       13
Leadership                                   91
Communication Skill                          77
Presentation designing                       98
cluster                                       0
Name: 0, dtype: object, Name                                      Andrew
Email                     testuser20@example.com
Coding                                        54
Leadership                                    58
Communication Skill                           89
Presentation designing                         9
cluster                                        1
Name: 19, dtype: object, Name                                      Andrea
Email                     testuser11@example.com
Coding                                        75
Leadership                                    14
Communication Skill                           47
Presentation designing                        44
cluster                                        3
Name: 10, dtype: object, Name                                 Christopher
Email                     testuser10@example.com
Coding                                        29
Leadership                                    34
Communication Skill                            4
Presentation designing                         4
cluster                                        2
Name: 9, dtype: object]
[Name                                        Leah
Email                     testuser23@example.com
Coding                                        46
Leadership                                    94
Communication Skill                           86
Presentation designing                        99
cluster                                        0
Name: 22, dtype: object, Name                                       Sally
Email                     testuser27@example.com
Coding                                        64
Leadership                                    51
Communication Skill                           54
Presentation designing                        33
cluster                                        1
Name: 26, dtype: object, Name                                       Chloe
Email                     testuser38@example.com
Coding                                        50
Leadership                                    43
Communication Skill                           37
Presentation designing                        61
cluster                                        3
Name: 37, dtype: object, Name                                       Adam
Email                     testuser9@example.com
Coding                                       93
Leadership                                    4
Communication Skill                           9
Presentation designing                       34
cluster                                       2
Name: 8, dtype: object]
[Name                                      Karen
Email                     testuser3@example.com
Coding                                       79
Leadership                                   97
Communication Skill                          68
Presentation designing                       88
cluster                                       0
Name: 2, dtype: object, Name                                      Andrew
Email                     testuser20@example.com
Coding                                        54
Leadership                                    58
Communication Skill                           89
Presentation designing                         9
cluster                                        1
Name: 19, dtype: object, Name                                        Mary
Email                     testuser26@example.com
Coding                                        90
Leadership                                    19
Communication Skill                           93
Presentation designing                        24
cluster                                        3
Name: 25, dtype: object, Name                                      Yvonne
Email                     testuser13@example.com
Coding                                        70
Leadership                                    89
Communication Skill                            3
Presentation designing                        63
cluster                                        2
Name: 12, dtype: object]
[Name                                        Paul
Email                     testuser15@example.com
Coding                                        78
Leadership                                    89
Communication Skill                           79
Presentation designing                        79
cluster                                        0
Name: 14, dtype: object, Name                                         Joe
Email                     testuser35@example.com
Coding                                        21
Leadership                                    93
Communication Skill                           85
Presentation designing                        19
cluster                                        1
Name: 34, dtype: object, Name                                       Chloe
Email                     testuser38@example.com
Coding                                        50
Leadership                                    43
Communication Skill                           37
Presentation designing                        61
cluster                                        3
Name: 37, dtype: object, Name                                       Brian
Email                     testuser31@example.com
Coding                                        81
Leadership                                    10
Communication Skill                           16
Presentation designing                         2
cluster                                        2
Name: 30, dtype: object]
[Name                                        Leah
Email                     testuser23@example.com
Coding                                        46
Leadership                                    94
Communication Skill                           86
Presentation designing                        99
cluster                                        0
Name: 22, dtype: object, Name                                       Keith
Email                     testuser32@example.com
Coding                                        35
Leadership                                    75
Communication Skill                           53
Presentation designing                        13
cluster                                        1
Name: 31, dtype: object, Name                                      Tracey
Email                     testuser18@example.com
Coding                                        56
Leadership                                    23
Communication Skill                           76
Presentation designing                        36
cluster                                        3
Name: 17, dtype: object, Name                                        Rose
Email                     testuser22@example.com
Coding                                        65
Leadership                                    19
Communication Skill                           30
Presentation designing                        13
cluster                                        2
Name: 21, dtype: object]
[Name                                     Victor
Email                     testuser6@example.com
Coding                                        5
Leadership                                   31
Communication Skill                          71
Presentation designing                       86
cluster                                       0
Name: 5, dtype: object, Name                                       Keith
Email                     testuser32@example.com
Coding                                        35
Leadership                                    75
Communication Skill                           53
Presentation designing                        13
cluster                                        1
Name: 31, dtype: object, Name                                        Phil
Email                     testuser19@example.com
Coding                                        60
Leadership                                    25
Communication Skill                           82
Presentation designing                        45
cluster                                        3
Name: 18, dtype: object, Name                                     Lillian
Email                     testuser17@example.com
Coding                                        75
Leadership                                    26
Communication Skill                           26
Presentation designing                        20
cluster                                        2
Name: 16, dtype: object]
[Name                                        Paul
Email                     testuser15@example.com
Coding                                        78
Leadership                                    89
Communication Skill                           79
Presentation designing                        79
cluster                                        0
Name: 14, dtype: object, Name                                        Lily
Email                     testuser25@example.com
Coding                                        28
Leadership                                    32
Communication Skill                           81
Presentation designing                        31
cluster                                        1
Name: 24, dtype: object, Name                                      Tracey
Email                     testuser18@example.com
Coding                                        56
Leadership                                    23
Communication Skill                           76
Presentation designing                        36
cluster                                        3
Name: 17, dtype: object, Name                                      Adrian
Email                     testuser40@example.com
Coding                                        53
Leadership                                    84
Communication Skill                           18
Presentation designing                         5
cluster                                        2
Name: 39, dtype: object]
[Name                                        Paul
Email                     testuser15@example.com
Coding                                        78
Leadership                                    89
Communication Skill                           79
Presentation designing                        79
cluster                                        0
Name: 14, dtype: object, Name                                      Audrey
Email                     testuser34@example.com
Coding                                        65
Leadership                                    60
Communication Skill                           67
Presentation designing                        33
cluster                                        1
Name: 33, dtype: object, Name                                        Phil
Email                     testuser19@example.com
Coding                                        60
Leadership                                    25
Communication Skill                           82
Presentation designing                        45
cluster                                        3
Name: 18, dtype: object, Name                                        Lily
Email                     testuser30@example.com
Coding                                        32
Leadership                                    79
Communication Skill                           13
Presentation designing                         8
cluster                                        2
Name: 29, dtype: object]
[Name                                      Robert
Email                     testuser29@example.com
Coding                                        13
Leadership                                    98
Communication Skill                           82
Presentation designing                        62
cluster                                        0
Name: 28, dtype: object, Name                                       Kevin
Email                     testuser28@example.com
Coding                                        62
Leadership                                    90
Communication Skill                           58
Presentation designing                        33
cluster                                        1
Name: 27, dtype: object, Name                                      Brian
Email                     testuser4@example.com
Coding                                      100
Leadership                                   44
Communication Skill                          73
Presentation designing                       74
cluster                                       3
Name: 3, dtype: object, Name                                        Rose
Email                     testuser22@example.com
Coding                                        65
Leadership                                    19
Communication Skill                           30
Presentation designing                        13
cluster                                        2
Name: 21, dtype: object]
12